@use '../variables.scss' as vars;

.main {
    height: 100vh;
    background-color: vars.$color_bg_main;
    margin-left: auto;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}
