@use './variables.scss' as vars;

html,
body {
    padding: 0;
    margin: 0;
    font-family: vars.$main_font, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
body {
    background-color: vars.$color_bg_secondary_dark;
}
/*ScrollBar settings*/
::-webkit-scrollbar-track {
    background-color: vars.$color_bg_secondary_light;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: vars.$color_bg_secondary_dark;
}

::-webkit-scrollbar-thumb {
    background-color: vars.$color_bg_secondary_dark;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
