// * Colors
$color_text_main: #fff;
$color_bg_main: #f8f3a6;
$color_bg_secondary_light: #a083d5;
$color_bg_secondary_dark: #9470ce;
$color_call_to_action: #49ae92;

//* Borders
$border_main_dark: 8px solid #765c9f;
