@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

// * Colors
$color_text_main: #fff;
$color_bg_main: #fff;
$color_bg_secondary_light: #2b3885;
$color_bg_secondary_dark: #192151;
$color_call_to_action: #49ae92;

//* Borders
$border_main_dark: 8px solid #192151;

//* Fonts
$main_font: 'Work Sans';
