@use '../../variables.scss' as vars;

.main {
    height: 120px;
    width: 75%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    background-color: vars.$color_bg_secondary_dark;
}
