.main {
    height: 100%;
    width: 25%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: start;
    background-color: #a083d5;
    border-right: 8px solid #765c9f;
    padding: 0.8rem;
}
