@use '../../variables.scss' as vars;

.main {
    height: 100%;
    overflow: hidden;
    width: 25%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    background-color: vars.$color_bg_secondary_light;
    border-right: vars.$border_main_dark;
    padding: 0.8rem;
}
