.text_tag {
    padding: 0.25rem;
    text-align: center;
    border-radius: 0.45rem;
    -webkit-border-radius: 0.45rem;
    -moz-border-radius: 0.45rem;
    -ms-border-radius: 0.45rem;
    -o-border-radius: 0.45rem;
    margin: 0px 5px 0px 0px;
}
